@page "/bookdetails/{id}"
@inherits BookDetailBase

@if (book == null)
{
    <div class="d-flex justify-content-center align-items-center">
        <div class="spinner-border text-primary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
}
else
{
    <div class="row justify-content-center m-3">
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="card shadow-lg rounded-3 border-0">
                <!-- Profile Picture with a placeholder fallback -->
                @* <img class="card-img-top rounded-circle mx-auto mt-3" style="width: 150px; height: 150px; object-fit: cover;"  *@
                     @* src="@staff.Photo" onerror="this.onerror=null;this.src='/images/placeholder.jpg';" alt="Staff Photo" /> *@
                <div class="card-body text-center">
                    <h1 class="card-title text-dark font-weight-bold">@book.BookNo</h1>
                    @* <p class="text-muted">@staff.Position</p> *@
                    <div class="mb-3">
                        <h5 class="text-secondary">Book name: @book.BookName</h5>
                        <h5 class="text-secondary">Publisher: @book.Publisher</h5>
                        <h5 class="text-secondary">Quantity: @book.Quantity</h5>
                        <h5 class="text-secondary">Unit price: @book.UnitPrice</h5>
                    </div>
                </div>
                <div class="card-footer text-center">
                    <a href="/booklist" class="btn btn-outline-primary btn-sm w-100 mb-2 mb-md-0 transition-transform transform-hover">Back</a>
                    <a href="@($"editBook/{book.BookNo}")" class="btn btn-outline-warning btn-sm w-100 mb-2 mb-md-0 transition-transform transform-hover">Edit</a>
                    <a href="@($"delete/{book.BookNo}")" class="btn btn-outline-danger btn-sm w-100 mb-2 mb-md-0 transition-transform transform-hover">Delete</a>
                </div>
            </div>
        </div>
    </div>
}
